.formInputTable {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.formInput {
  display: flex;
  gap: 0.5rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.header-v1 {
  text-align: center;
  font-weight: 700;
  font-size: 25px;
}
